
/* ### colors */
:root {
  /* ### Primary */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  /* ### Neutral */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /* typography */
  --main-font: 'Public Sans', sans-serif;
  }
  body{
  font-size: 18px;
  font-family:var(--main-font);
  }
  *{
  /* margin: 0; */
  padding: 0;
  }
  .main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  /* hero section....... */
  .header{
  display: flex; 
  justify-content: space-between; 
  padding-top:30px; 
  background-color: var(--white);
  width: 100%;
  z-index: 1;
  padding: 14px 10px;
  }
  .header-menu-content{
  display: none;
  }
  /* hero section.... */
  .hero{
  display: grid;
  grid-template-rows:45% 55%;
  text-align: center;
  padding-bottom: 70px;
  height:100vh;
  z-index: -1;
  background-color: var(--very-light-gray);
  }
  .hero-image{
  width: 100vw;
  justify-self: center;
  background-image: url(../../images/image-mockups.png),
  url(../../images/bg-intro-mobile.svg);
  background-position: center -19.5vh, right -8.25vh;
  background-size: 95vw, 100vw;
  background-repeat: no-repeat, no-repeat;
  z-index: -1;
  }
  .hero-img{
  display: none;
  }
  .hero-heading{
  font-size: 2em;
  }
  .request-invite{
  background-color:var(--lime-green);
  border-radius: 1.6rem;
  padding: 12px 30px;
  color:var(--white);
  font-size: 16px;
  }
  /* why choose section........ */
  .why-choose{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--grayish-blue);
  }
  .why-choose-content{
  padding: 30px 5px;
  }
  /* latest articles section...... */
  .latest-articles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:40px 0;
  }
  .latest-articles-heading{
  font-size: 24px;
  text-align: center;
  }
  .latest-articles-content{
  display: flex;
  flex-direction: column;
  padding:6px;
  }
  .latest-articles-image{
  width: 100%;
  border-top-left-radius:0.5rem;
  border-top-right-radius: 0.5rem;
  }
  .image-currency{
  height:30vh;
  }
  .latest-articles-item{
  padding: 10px;
  /* background-color: blueviolet; */
  }
  .latest-articles-item-content{
  padding: 10px;
  }
  .latest-articles-writer-name{
  font-size: 10px;
  }
  /* footer section..... */
  .footer{
  background-color:var(--dark-blue);
  text-align: center;
  width: 100%;
  padding: 15px;
  color:var(--white);
  padding:20px 0;
  } 
  .footer-icon{
  margin: auto;
  padding-top: 20px;
  }
  .footer-info{
  padding: 20px 0;
  line-height:30px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  }
  .footer-line{
  padding: 10px;
  }
  @media only screen and (min-width: 1000px){
  .header{
  display:flex;
  justify-content: space-around;
  position: relative;
  height: 10vh;
  width: 100%;
  } 
  .header-menu-content{
  display:flex;
  justify-items: center;
  
  }
  .header-menu-item li{
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  }
  .header-menu-btn{
  margin-left: 10vw;
  margin-top:5px;
  }
  .header-menu-icon{
  display: none;
  }
  /* hero section desktop view*/
  .hero{
  text-align: start;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  height: 68vh;
  width: 100%;
  position: relative;
  }
  .hero-content{
  width: 45%;
  position: absolute;
  top:10px;
  }
  .hero-image {
  grid-column: 2;
  background-image: url(../../images/bg-intro-desktop.svg);
  background-position: 20vw -20vh;
  background-size: 70vw;
  background-repeat: no-repeat;
  }
  .hero-img {
  position: absolute;
  display: block;
  top: -90px;
  width: 47vw;
  /* height: 80vh; */
  margin: 0 0 0 40vw;
  z-index: -1;
  }
  /* why choose section for desktop view */
  .why-choose{
  display: flex;
  flex-direction: column;
  z-index:-2;
  height: 90vh;
  padding:10px 20px;
  /* margin-top: 30px; */
  }
  .why-choose-heading{
  text-align: start;
  display: flex;
  flex-direction: column;
  }
  .why-choose-heading p{
  padding-bottom: 40px;
  }
  .why-choose-content{
  display: flex;
  padding: 50px 0;
  }
  /* .latest articles section for desktop view */
  .latest-articles{
  display: flex;
  flex-direction: column;
  }
  .latest-articles-content{
  display:flex;
  flex-direction: row;
  }
  /* footer section for desktop view */
  .footer{
  display:flex;
  justify-content: space-around;
  padding: 50px 0;
  }
  .footer-info{
  display: grid;
  grid-template-columns:50% 50%;
  width: 40%;
  }
  .footer-logo-icon{
  padding-top: 30px;
  }
  .btn-line{
  padding-top: 30px;
  }
  }
  